
/mempalace.yaml
/entities.json
/.vscode
/.github
/test.files
/.history
/ThermalConfigs/ThermalConfigCopyRules.mk
/.lh
/ThermalConfigs/__pycache__
/ThermalConfigs/configs
/OTA/__pycache__
/patches/subpatches/__pycache__
/patches/__pycache__