on post-fs-data
    mkdir /data/pixelparts 0777 system system
    mkdir /data/pixelparts/ThermalConfigs 0777 system system
    mkdir /data/pixelparts/addons 0777 system system
    mkdir /data/pixelparts/addons-dex 0777 system system
    mkdir /data/pixelparts/system_addons_data 0777 system system
    mkdir /data/vendor/pixelparts 0771 system system
    mkdir /data/vendor/pixelparts/ThermalConfigs 0771 system system
    restorecon_recursive /data/pixelparts
    restorecon_recursive /data/vendor/pixelparts

# PixelExtraParts Auto HBM panel brightness access
on boot
    chown system system /sys/class/backlight/panel0-backlight/brightness
    chmod 0664 /sys/class/backlight/panel0-backlight/brightness

# PixelExtraParts thermal config switch
on init
    setprop persist.sys.pixelparts.thermal_available true

on property:persist.sys.pixelparts.thermal_config_request=* && property:persist.sys.pixelparts.thermal_config=*
    copy /data/pixelparts/ThermalConfigs/${persist.sys.pixelparts.thermal_config} /data/vendor/pixelparts/ThermalConfigs/active.json
    chown system system /data/vendor/pixelparts/ThermalConfigs/active.json
    chmod 0644 /data/vendor/pixelparts/ThermalConfigs/active.json
    restorecon /data/vendor/pixelparts/ThermalConfigs/active.json
    setprop vendor.thermal.config ${persist.sys.pixelparts.thermal_config_request},/data/vendor/pixelparts/ThermalConfigs/active.json

on property:persist.sys.pixelparts.thermal_config_request=* && property:persist.sys.pixelparts.thermal_config=thermal_info_config.json
    setprop vendor.thermal.config thermal_info_config.json
# End PixelExtraParts thermal config switch
